@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');

* {
  box-sizing: border-box;
}


/*---------------Colours */

.navigation {
   background-color: #3c1642 ;
}


.title {
 color: #fff;
}

.nav-link {
    color:#fff !important;
}

a:hover {
  color: #1dd3b0;
  text-decoration: none;
}

.jumbotron {
    background-color: rgba(29,211,176,0.4);
}

.about-section {
    background-color: #086375;
    color: #fff
}

.services-section {
    background-color: #1dd3b0;
    color: #3c1642;
}

.testimonials-section {
    background-color: #086375;
    color: #fff

}

.navbar-toggler {
    background-color: #fff;
}

.contact-section {
    background-color: #1dd3b0;
    color: #3c1642;
}

footer{
    background-color: #3c1642;
}

/*---------------Fonts*/

* {
    font-family: "Lato", sans-serif;
}

/*---------------Headings*/

.title {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    font-size: 50px; 
    max-height: 100%;
    display: inline;
}


/*---------------Header */

.navigation {
    height: 125px;
}

.logo {
    height: auto;
    width: 80px;
    margin-right: 20px;
    margin-top: 5px;
    padding-top: 10px;
    max-height: 100%;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}

/*---------------Hero Image */

.hero-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;

}

.jumbotron {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
}

.callout-title {
    text-transform: uppercase;
    font-size: 20px; 
}

.callout-text {
    font-size: 15px;
    padding: 10px;
}
/*---------------About Section */

.about-sportance {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 10px;
      text-decoration: underline;
  }

.about-picture {
    height: auto;
    max-width: 100%;
    margin-left: 50px;
    margin-top: auto;
    padding: 10px;
}

.sportance-info, .psychology-info {
    line-height: 25px;
    font-size: 15px;
}

.about-sportance h3 {
    text-decoration: underline;
    padding: 25px;
}

/*---------------Services Section */

.services-sportance {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
       padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 10px;
      text-decoration: underline;
}

.services-section {
    text-align: center;
}

.services-image {
    height: 150px;
    max-width: 150px;
    margin-left: 50px;
    margin-top: auto;
    padding: 20px;
    border-radius: 75px;
}
/*---------------Testiomonials Section */

.testimonials-sportance {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
       padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 10px;
      text-decoration: underline;
}

.hollie-testimonial, .mike-testimonial {
    line-height: 25px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.testimonial-image {
    height: 150px;
    max-width: 150px;
    margin-left: 50px;
    margin-top: auto;
    padding: 10px;
    border-radius: 75px;
}

/*---------------Contact Section */
.contact-section {
    padding: 25px;
}

.contact-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 28px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3c1642;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.contact-tagline {
    font-size: 18px;
    text-align: center;
}

/*---------------Footer */

footer {
    height: 125px;
    padding: 0px;
}

.footer-menu {
    font-size: 15px;
    color: #fff;
    float: left;
    text-decoration: none;
    list-style-type: none;
}

.footer-menu a {
    color: #fff;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 50px;
    margin: 5px;
    padding: 5px;
    color: #777777;
    float: right;
}