@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');



/*---------------Colours */


/*---------------Fonts*/

* {
    font-family: "Lato", sans-serif;
}

/*---------------Headings*/



/*---------------Header */


/*---------------Hero Image */


/*---------------About Section */



/*---------------Services Section */



/*---------------Testiomonials Section */



/*---------------Contact Section */


/*---------------Footer */
