@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');



/*---------------Colours */

.navbar, footer, #about, #testimonials {
    background-color: #3C1642;
    color: #ffffff;
}


#services, #contact {
    background-color: #1DD3B0;
    color: #fff;
}

a {
    color: #fff !important;
}

.jumbotron {
    background-color: rgba(29, 211, 176, 0.8);
}
/*---------------Fonts*/

* {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 18px;
}

a:hover {
  color: #1DD3B0 !important;
}
/*---------------Headings*/

h1, h2 {
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
}

h2, h3, h4 {
    text-align: center;
    
}

p {
    text-align: center;
}

/*---------------Header/Navbar */


.nav-link {
    font-size: 20px !important;
}

/*---------------Hero Image */

.jumbotron {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/*---------------About Section */



/*---------------Services Section */



/*---------------Testiomonials Section */



/*---------------Contact Section */

form {
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
}
/*---------------Footer */
