@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');


/*---------------Colours */

.navigation {
   background-color: #086375;
}

.title {
 color: #fff;
}

.nav-link {
    color:#fff;
}

a:hover {
  color: #3c1642;
  text-decoration: none;
}

.about-section {
    background-color: #086375;
    color: #fff
}
/*---------------Headings*/

.title {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    padding: 0;
    font-size: 50px; 
    margin-top: 20px;
}


/*---------------Header */

.navigation {
    height: 125px;
}

.logo {
    height: auto;
    width: 80px;
    margin-right: 20px;
    margin-top: 5px;
    padding-top: 10px;
}

.navbar .nav-link {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    padding: 10px;
    margin-top: 20px;
}

/*---------------Hero Image */

.hero-image {
    width: 100%;
    height: auto;

}

/*---------------About Section */

.about-sportance {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      padding-bottom: 10px;
      margin-bottom: 10px;
      text-decoration: underline;
  }

.about-picture {
    height: auto;
    width: 200px;
    margin-left: 50px;
    margin-top: auto;
    padding: 10px;
}

.sportance-info, .psychology-info {
    font-family: "Lato", sans-serif;
    line-height: 25px;
    font-size: 15px;
}

/*---------------Services Section */




/*---------------Testiomonials Section */




/*---------------Contact Section */




/*---------------Footer */