@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
}


/* Colours */

.common-section {
    color: #fff;
    padding: 2rem;
}

.dark-section {
    background-color: #3C1642;
}

.light-section {
    background-color: #1DD3B0;
}

/* Headings */

h1 {
    font-size: 3rem;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    padding: 1rem 0 1rem;
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
}

h3, h4 {
    text-align: center;
    padding: 1rem 0 1rem;
    
}

h4 {
    font-size: 2rem;
    text-decoration: underline;
}

/* Header/Navbar */

.logo {
    height: 8rem;
    padding-left: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
}

a {
    color: #fff;
}

a:hover {
  color: #1DD3B0;
}

.navbar-collapse {
    text-align: center;
}

/* Hero Image & Jumbotron */

.hero-image {
    padding: 0;
    margin-top: 161px;
}

.jumbotron {
    background-color: rgba(29, 211, 176, 0.8);
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
   
}

/* Main images */

.body-images {
    filter: grayscale(100%);
    padding: 7rem 0 7rem;
}

/* Contact Section */

.form-control {
    font-size: 1.6rem;
}

.contact-us {
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 5px;
}
   
/* Footer */

#footer {
    height: 15rem;
    padding-top: 2rem;
    padding-bottom: 0;
}

.fab {
    font-size: 4.5rem;
    padding-top: 3rem;
    padding-right: 2rem;
}

.footer-menu {
    list-style-type: none;
}

/* Media Queries */

@media (min-width: 768px) {
    .body-images {
        max-width: 25vw;
    }
}
