@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');



/*---------------Colours */

.navbar, footer {
    background-color: #3C1642;
    color: #fff;
}

#about, #testimonials {
    background-color: #1DD3B0;
    color: #fff;
}

a {
    color: #fff;
}
/*---------------Fonts*/

* {
    font-family: "Lato", sans-serif;
}

/*---------------Headings*/



/*---------------Header */


/*---------------Hero Image */


/*---------------About Section */



/*---------------Services Section */



/*---------------Testiomonials Section */



/*---------------Contact Section */


/*---------------Footer */
