@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap: 100,200,300,400,500,600,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
}


/*Colours*/

.dark-section {
    background-color: #3C1642;
    color: #ffffff;
    padding: 2rem;
}


.light-section {
    background-color: #1DD3B0;
    color: #fff;
    padding: 2rem;
}

input[type="submit"]:hover {
    background-color: #1DD3B0;
}


/*Headings*/

h1 {
    font-size: 3rem;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
    padding: 2rem 0 2rem;
}

h3 {
    font-weight: 700;
}

h2, h3, h4 {
    text-align: center;
    padding: 1rem 0 1rem;
    
}

p {
    text-align: center;
}

/*Header/Navbar */


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
}

a {
    color: #fff;
}

a:hover {
  color: #1DD3B0 !important;
}

.navbar-collapse {
    text-align: center;
}

.logo {
    height: 8rem;
    padding-left: 4rem;
}


/*Hero Image */

.hero-image {
    padding: 0;
    margin-top: 161px;
}

.jumbotron {
    background-color: rgba(29, 211, 176, 0.8);
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
   
}

.body-images {
    filter: grayscale(100%);
}


/*Contact Section */

}

form {
    display: block;
    margin-top: 0em;
    padding: 10px;
}

input[type="text"], select, textarea  {
    width: 100%;
    margin-top: 6px;
    resize: vertical;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    color: #3C1642;
}

input[type="submit"]:hover {
    background-color: #1DD3B0;
}

.contact-us {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
   
/*Footer */

#footer {
    height: 15rem;
    padding-top: 2rem;
    padding-bottom: 0;
}


.fab {
    font-size: 4.5rem;
    padding-top: 3rem;
    padding-right: 2rem;
}

.footer-menu {
    list-style-type: none;
}


/*Media Queries */

@media (min-width: 768px) {
    .body-images {
        max-width: 25vw;
        text-align: center;
    }

    p {
             text-align: left;
    }
}